---
title: "MIPT Club"
permalink: /mipt-club/
lang: en
ref: miptclub
sort_order: reverse

layout: archive
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% assign collection = site.collections | where: "label", "mipt-club" %}
{% assign collection = collection.first %}
{% assign posts = collection.docs | where: "lang", page.lang %}
{% assign posts = posts | sort: "date" | reverse %}

{% for post in posts %}
  {% unless collection.output == false %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}
