---
layout: archive
---

{{ content }}

{% assign sorted_tags = site.tags | sort %}

<ul class="taxonomy__index">
    {% for tag in sorted_tags %}
        <li>
            <a href="#{{ tag[0] | slugify }}">
                <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ tag[1].size | divided_by: 2 }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

{% for tag in sorted_tags %}
    <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <!-- <h2 class="archive__subtitle">{{ tag[0] }}</h2> -->
        <h2>{{ tag[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
            {% for post in tag.last %}
              {% if post.lang == page.lang%}
                {% include archive-single.html type=page.entries_layout %}
              {% endif %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[page.lang].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
{% endfor %}
